{% include 'header.html' %}

<section class="container">
    <p style="padding: 10%; color:#252525; font-weight: 500; font-size: larger;">
        Welcome to our To-Do website! Our mission is to help you stay organized and on top of your tasks with our easy-to-use sticker system. With our web app, you can create custom stickers for all your to-dos and never forget a task again. Whether you’re managing a busy work schedule or just trying to keep track of your daily errands, our app has got you covered.
    </p>
</section>

{% include 'footer.html' %}